
<!-- INFO -->
<div class='container-fluid'><br>
	<div>
		<h1><strong>Dashboard login</strong></h1>
	</div><br>

	<form class="navbar-form navbar-center" role="search">
		<div class="input-group margin-bottom-sm">
		  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		  <input class="form-control" type="text" placeholder="Email address" ng-model="email">
		</div><br><br>

		<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
		  <input class="form-control" type="password" placeholder="Password" ng-model="password">
		</div>
	</form><br><br>

	<div>
	    <button type="submit" class="btn btn-primary" ng-click="clickLogin()">LOGIN</button>
	</div><br>

	<div>
		<p>Don't have an account? <a href="#/signup">Register</a></p>
	</div><br><br>  
</div>