                                                                                                                    
<!-- INFO -->
<div class='container-fluid'><br>
  <div>
    <h1><strong>User Registration</strong></h1>
  </div><br>

  <form class="navbar-form navbar-center" role="search">
  
    <!--  EMAIL -->
    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <input class="form-control" type="text" placeholder="Email address" ng-model="email">
    </div><br><br>
  
    <!-- PASSWORD -->
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input class="form-control" type="password" placeholder="Password" ng-model="password">
    </div><br><br>
    
    <!-- CONFIRM PASSWORD -->
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-check"></i></span>
      <input class="form-control" type="password" placeholder="Confirm Password" ng-model="password2">
    </div>
  </form><br>

  <div>
      <button type="submit" class="btn btn-primary" ng-click="clickSignup()">REGISTER</button>
  </div><br>

  <div>
    <p>Already have an account? <a href="#/signin">Login</a></p>
  </div><br> 

  <div>
    <p>By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.<br> Others will be able to find you by email or phone number when provided.</p>
  </div>
</div> 